/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* colors scheme */ 
:root{
    --font-standard: "Nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    
    /* Om jag vill ha respons */
    --size-tablet: 768px;
    --size-desktop: 1400px;

    --white-100: #ffffff; 
    --white-200: #f5f7fa; 
    --white-300: #f1f3f7; 
    --white-400: #f0f1f5; 

    --grey-100: #E8EAED;
    --grey-200: #EBEEF2;
    --grey-300: #E3E5E8;
    --grey-400: #e8e8e8;
    --grey-500: #dedede;
    --grey-600: #C6C6C6;
    --grey-700: #9E9E9E;
    --grey-800: #637085;


    --dark-100: #1a1926;
    --dark-200: #1C1D1F;
    --dark-300: #202123;
    --dark-400: #28263B;
    --dark-500: #333333;
    --dark-600: #38383B;


    --accent: #2D99FF;
    --dark-accent: #2682D9;
    --orange: #FF9640;
    --dark-orange: #F09330;
    --red: #FF6640;
    --dark-red: #E94D3F;
    --yellow: #FFD422;
    --dark-yellow: #FCBB42;
    --blue-accent: #2D99FF;
    --blue: #2CD9D9;
    --dark-blue: #2D7DCC;
    --green: #31D482;
    --dark-green: #24B26B;
    --purple: #826AF9;
    --dark-purple: #634CD4;


    /* Hantering av färger*/
    --text-color: var(--dark-400);
    --headline-: var(--dark-100);
    --border-color: var(--grey-500);
    --background-color: var(--white-200);

    --btn-blue-text-color: var(--white-100);
    --btn-blue-text-hover-color: var(--white-100);
    --btn-blue-border-color: var(--white-100);
    --btn-blue-border-hover-color: var(--white-100);
    --btn-blue-background-color:var(--blue-accent);
    --btn-blue-background-hover-color: var(--dark-accent);

    --btn-grey-text-color: var(--dark-100);
    --btn-grey-text-hover-color: var(--dark-100);
    --btn-grey-border-color: var(--white-300);
    --btn-grey-border-hover-color: var(--grey-100);
    --btn-grey-background-color: var(--white-400);
    --btn-grey-background-hover-color: var(--grey-100);

    /* Om jag ska ha darmode/lightmode switch */
    [data-theme="dark"] {
        --text-color: var(--dark-400);
        --headline-: var(--dark-100);
        --border-color: var(--gray-400);
        --background-color: var(--white-200);
    }
}

/* Base */
/* Container finns redan färdigt i bootstrap, funkar inte i alla sidor men man kan specifiera */
*,*::before, *,*::after{
    box-sizing: border-box;
}


html, body{
    margin: 0;
    font-size: 16px;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
}
/* structure */
.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Typography */
h1,h2,h3,h4,h5,h6{
    font-family: var(--font);
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 36px;
    font-weight: var(--font-bold);
}

h2{
    font-size: 32px;
    font-weight: var(--font-bold);
    
}

h3{
    font-size: 28px;
    font-weight: var(--font-bold);
    
}

h4{
    font-size: 24px;
    font-weight: var(--font-semibold);
    
}

h5{
    font-size: 20px;
    font-weight: var(--font-semibold);
}

h6{
    font-size: 18px;
    font-weight: var(--font-semibold);
    
}
/* links */
.nav-link{
    font-family: var(--font-standard);
    font-weight: var(--font-semibold);
    font-size: 15px;
}

.tab-link{
    font-family: var(--font-standard);
    font-weight: var(--font-bold);
    font-size: 15px;
}



/* buttons */
/* Bootstrap har färdig designade buttons men kan inte alltid matcha designen */ 
.btn{
    border-radius: 14px;
    font-size: 1em;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    padding: 0.3rem 1.5rem;

    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}


.btn-blue{
    color:var(--btn-blue-text-color);
    border-color: var(--btn-blue-border-color);
    background-color: var(--btn-blue-background-color);

    &:hover{
        color: var(--btn-blue-text-hover-color);
        border: var(--btn-blue-border-hover-color);
        background-color: var(--btn-blue-background-hover-color);
    }
}


.btn-grey{
    color: var(--btn-grey-text-color);
    border-color: var(--btn-grey-border-color);
    background-color: var(--btn-grey-background-color);

    &:hover{
        color: var(--btn-grey-text-hover-color);
        border-color: var(--btn-grey-border-hover-color);
        background-color: var(--btn-grey-background-hover-color);
    }
}
/* lists */

/* components */

/* sections */

/* view/pages */